*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* custom colors */
:root {
    --white: #faeded;
    --black: #000;
    
}

body{
    font-family:'Poppins',sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #ff7f50; /* coral  #ff7f50*/
    overflow-x: hidden; /* removes horizontal scroll wheel*/ 
}

a{
    text-decoration: none;
    color: #000000;   
}

ul{
    list-style: none;
}

img{
    max-width: 100%;

}

.logo {
    display: flex;
    align-items: center;
}

.logo i {
    margin-right: 10px;
    position: relative;
    top: -5px;
}

/* Navbar */
.navbar {
    background:var(--white);
    padding: 20px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navbar .main-menu ul {
    display: flex;
}

.navbar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
}

.navbar ul li a:hover{
    color: var(--black);
}

.navbar ul li a {
    margin-left: 10px;
}

.navbar ul li a i{
    margin-right: 10px;
}

.icon-name{
    color: coral;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: #000;
}

/* Hero */
.hero {
    margin-bottom: 50px;
}

.hero-content .hero-heading {
    text-align: center;
}


/* Classical player cards  and others */


.classical .classical-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    margin-top: 50px;
}


.classical ul {
    margin: 15px 0;
}

.classical-card-heading{ 
    color: var(--black)!important;  /* default is white */
    
}
.classical ul li {
    margin-bottom: 20px;
    margin-left: 15px;
}

.classical-card-body ul li i {
    margin-right: 10px;
    
}
 .classical-card-body, .crown {
    font-size: 1rem;
    
}


.classical-card-header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-left: 10px;
    margin-right: 10px;
}

.classical-card-header-info {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    
}


.classical-grid img {
    object-fit:cover;
}


.crown{

    font-size: 2.2rem;
    line-height:1.5;
    font-weight: 500;
    margin-top: 10px;
}

.crown-text {
    display: none;
    margin-top: 10px;
    font-size: 1.2rem;
}

.crown-text.open {
    display: block;
}

.extra-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}


/* Footer*/

.footer{
    padding: 40px 0;
    margin-top: 50px;
}

.footer-grid {
    display: flex; 
    margin-right:5px ;
}

.about-us-group-body {
    margin-top: 10px;
    margin-bottom: 10px;
    flex:1;
    max-width: 550px;
    font-style: italic;

}

.about-us-group-body {
    display: none;
    position: relative;
    
}

.about-us-group-body.open {
    display: block;
}

.about-us-group-header{
    cursor: pointer;
    color: var(--black);
    
}

.image-rights{
    display: flex;
    cursor: pointer;
    margin-top: 10px;
    color: var(--black);
}

/*margin-left fixes mobile menu bug */
.footer ul{
    margin-left: 90px;
}

.update-text{
    margin-top: 10px;
}



/* utility classes:  Set all the stuff center of the screen*/
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}



/* Buttons */
.btn{
    display: inline-block;
    padding: 13px 20px;
    /*background: var(--white); */
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius:  10px;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
}

.image-rights h4 u,
.about-us-group-header h4 {
    transition: color 0.2s ease-in-out;
    

}

.image-rights h4 u:hover,.about-us-group-header h4:hover{
    color: coral; 
    opacity: 1; 
}

.btn:hover{
    opacity: 0.8;
}

.btn-pushed:hover {
    background: coral;
    color: var(--white)!important; /* this overrides earlier styles*/
    opacity: 1;  /* text from black to white*/
}

.btn-white{
    background: var(--white);
    color: var(--black);
}

.btn-coral{
    background: coral;
    color: #fff;
}

.btn-pushed {
    background:coral;
    color:var(--black);
    transition: color 0.5s ease-in-out;
}


.fa-bounce{
    --fa-animation-duration: 2s;
    --fa-bounce-rebound:none ;
    
}

.crown-header{
    display: flex;
    cursor: pointer;
}
    


/* Text Classes */
.text-xxl {
    font-size: 3rem;  /* 1 rem = 16px */
    line-height:3rem;
    font-weight: 600;
    margin: 40px 0 20px;
    color: var(--white); /* not full white but close to*/
}

.text-xl {
    font-size: 2.2rem;  
    line-height:1.5;
    font-weight: normal;
    margin: 40px 0 20px;
    color: var(--white);
}

.crown-text .text-ranks{
    font-size: 2.2rem;
    line-height:1.5;
    font-weight: 500;
    margin: 10px 10px 10px;
    color: var(--black);
}

.text-ranks{
    font-size: 2.2rem;
    line-height:1.5;
    font-weight: 500;
    margin: 10px 10px 10px;
    color: var(--black);
}

.text-ranks-info{
    align-items: center;
    font-size: 2.2rem;
    line-height:1.5;
    font-weight: 500;
    margin: 10px 10px 10px;
    color: var(--black);
    
}

.text-sm{
    font-size: 1rem;
    font-weight:500;   
}

.text-smR{
    margin-top: 25px;
    font-size: 1rem;
    font-weight:500;   
}

.text-info{
    padding-top: 20px;
    font-size: 1rem;
    margin: 10px 10px 10px;
    line-height: 1.7;
    
}


.current-rating{
    font-size:1rem;

}


/* Backgrounds */

.bg-light {
    background: var(--white);
    color: #333;
}

.bg-black {
    background: var(--black);
    color: #fff;
}

/* hamburger button */

.hamburger-button{
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;

}

.hamburger-button .hamburger-line {
    width: 30px;
    height: 3px;
    background: black;
    margin: 6px 0;

}

/* mobile menu */
.mobile-menu{
    position: fixed;
    top: 0;
    right: -300px;
    width: 150px;
    z-index: 100;
    background-color: var(--white);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    transition: right 0.3s ease-in-out;
}

.mobile-menu.active {
    right: 0;

}


.mobile-menu ul {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    padding-right: 10px;
    align-items: center;

}

.mobile-menu ul li{
    margin: 10px 0;
}

.mobile-menu ul li a{
    font-size: 20px;
    transition: 0.3s;
}

.mobile-menu .btn {
    font-size: 14px; 
    padding: 8px 12px; 
}
.mobile-menu .btn i {
    font-size: 12px;
}
.mobile-menu .btn {
    width: auto; 
    min-width: 100px;
}


/* Media Queries*/
/* älä kajoo turhaan*/

@media (max-width:545px){
     .navbar .main-menu{
    display: none;
   }
    .navbar .hamburger-button{
    display: block;
   }
    
/* stack grids on smaller screens*/
    .classical .classical-grid{
        grid-template-columns: 1fr;
    }

    .extra-grid{
        grid-template-columns: 1fr;
    }

    
    .text-xxl {
        font-size: 2rem;
    }

    .text-ranks-info{
        font-size: 1.5rem;
    }

    .classical-card-body-info{
        font-size: 1rem;
        margin-bottom: 40px;
    }



    .about-us-group-body {
        margin-top: 10px;
        margin-bottom: 10px;
        flex:1;
        max-width: 400px;
        font-style: italic;
        font-size:0.8rem ;
    }

    .footer ul{
        margin-left: 20px;
    }
}