*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* custom colors */
:root {
    --white: #faeded;
    --black: #000;
    
}

body{
    font-family:'Poppins',sans-serif;
    font-size: 16px;
    line-height: 1.5;
    /*background: linear-gradient(90deg, coral, rgb(255, 255, 255)); */
    background-color: #ff7f50; /* coral  #ff7f50*/
    overflow-x: hidden; /* removes horizontal scroll wheel*/ 
}

a{
    text-decoration: none;
    color: #000000;   
}

ul{
    list-style: none;
}

img{
    max-width: 100%;

}

.logo {
    display: flex;
    align-items: center;
}

.logo i {
    margin-right: 10px;
    position: relative;
    top: -5px;
}

/* Navbar */
.navbar {
    background:var(--white);
    padding: 20px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navbar .main-menu ul {
    display: flex;
}

.navbar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
}

.navbar ul li a:hover{
    color: var(--black);
}

.navbar ul li a {
    margin-left: 10px;
}

.navbar ul li a i{
    margin-right: 10px;
}

.icon-name{
    color: coral;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: #000;
}

/* Hero */
.hero {
    margin-bottom: 50px;
}

.text3{
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 600;
}

/* Footer*/

.footer{
    padding: 40px 0;
    margin-top: 50px;
}

.footer-grid {
    display: flex; 
    margin-right:5px ;
}

.about-us-group-body {
    margin-top: 10px;
    flex:1;
    max-width: 550px;
    font-style: italic;

}

.about-us-group-body {
    display: none;
    position: relative;
    
}

.about-us-group-body.open {
    display: block;
}

.about-us-group-header{
    cursor: pointer;
}

.image-rights{
    cursor: pointer;
    margin-top: 10px;
}

.footer ul{
    margin-left: 90px;
}

.update-text{
    margin-top: 10px;
}


/* utility classes:  Set all stuff center of the screen*/
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;

}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
    
}



/* Buttons */
.btn{
    display: inline-block;
    padding: 13px 20px;
    /*background: var(--white); */ 
    /*color: var(black);*/
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius:  10px;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
}

.btn:hover{
    opacity: 0.8;
}


.btn-pushed:hover {
    background: coral;
    color: var(--white)!important; /* this overrides earlier styles*/
    opacity: 1;  /* text from black to white*/
}

.btn-white{
    background: var(--white);
    color: var(--black);
}

.btn-coral{
    background: coral;
    color: #fff;
}

.btn-pushed {
    background:coral;
    color:var(--black);
    transition: color 0.5s ease-in-out;
}



/* Text Classes */
.text-xxl {
    font-size: 3rem;  /* 1 rem = 16px */
    line-height:3rem;
    font-weight: 600;
    margin: 40px 0 20px;
    color: var(--white); /* not full white but close to*/
}

.text-xl {
    font-size: 2.2rem;  
    line-height:1.5;
    font-weight: normal;
    margin: 40px 0 20px;
    color: var(--white);
}


/* Backgrounds */

.bg-light {
    background: var(--white);
    color: #333;
}

.bg-brown {
    background: #84523f;
    color: #fff;
}
.bg-red {
    background: #f12536;
    color: #fff;
}

.bg-black {
    background: var(--black);
    color: #fff;
}